* {
}

.header {
	font-size: 24px;
	text-align: center;
	color: #808080;
	position: fixed;
	top: 30px;
	left: 45%;
	background-color: white;
	width: 200px;
	height: 50px;
	padding: 10px 0px 0px 0px;
	background-position: center;

}

.links {
	font-size: 20px;
	text-align: center;
	position: fixed;
	top: 120px;
	margin: auto;
	color: #808080;
	background-position: center;
	left: 44%;
	background-color: white;
	padding: 10px;

}
a {
	color: #808080;
	text-decoration: none;
	text-align: center;
	background-position: center;


} 

a:hover {
	color: #D3D3D3;

}

.images {
	width: 100%;
	margin-top: 0px;
	background-position: center;
	text-align: center;
	bottom: 150px;
	font-size: 10px;
	color: #808080 ;

}

.images img {
	background-attachment: fixed;
	margin: 0px;
	overflow: scroll;

}