* {
  font-size: 20px;
  font-family: 'Source Serif Pro', serif;
  text-align: center;

}

.image img {
	width:600px;
	height: 450px;
	background-attachment: fixed;
}

.image {
	margin-top: 20px;
}
.text {
	text-align: left;
	width: 70%;
	margin-left: 200px;
	margin-bottom: 100px;
	line-height: 150%;
}

.endpic img {
	width: 50%;	
	background-attachment: fixed;
}

.title {
	margin-top: 20px;
}
