* {
  font-size: 18px;
  font-family: 'Source Serif Pro', serif;

}

.image img {
	background-attachment: relative;
	height: 40%;
	margin: 0px;
	max-width: 200px;
	width: 50%;
	
}

.image {
	text-align: left;
	position: absolute;
}

.text {
	position: fixed;
	top: 50px;
	left: 800px;
	bottom: 100px;
	color: #BDBDBD;
	overflow:scroll;
}

.header {
	position: fixed;
	color: white;
	font-size: 20px;
	left: 20px;
	top: 20px;
}